.nodata {
  max-height: calc(100vh - 260px) !important;
  position: absolute !important;
  top: 70% !important;
  left: 50% !important;
  transform: translate(-50%, -10%) !important;
  min-height: calc(100vh - 320px) !important;
  margin-bottom: 4rem !important;
  margin-top: 5rem !important;
  padding: 1.5rem 0.7rem !important;

  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

// Adjustments for desktop view
@media (min-width: 768px) {
  .nodata {
    transform: translate(-50%, -23%) !important; // Move the content a bit higher
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .nodata {
    transform: translate(-0%, -23%) !important; // Move the content a bit higher
  }
}