@import "/src/styles/variable.scss";

.root {
    padding: 10px;
    border-radius: 4px !important;
    border: 1px solid $primary !important;
    height: 35px;
    background-color: transparent !important;

    
}

.checked {
    .MuiSwitch-thumb {
        left: calc(100% - 18px - 2px) !important;

        &:before {
            background-color: #38b000 !important;
        }
    }
}
    .thumb {
        width: 12px !important;
        height: 12px !important;

        &:before {
            background-color: #e63946 !important;
            border-radius: 2px;
        }
    }

    .track {
        line-height: 0px !important;
        color: #022853 !important;
        font-weight: 600 !important;
        font-size: 12px !important;
    }