$body-bg: #ffffff;
$green: #648927;
$light-green: #38af48;
$primary: #ff780c;
$focus-primary: #ff8026;
$blue: #4791DC;
$sidebar-border-color: #efefef;
$sidebar-collapsed-width: 55px !default;
$sidebar-width: 230px;
$header-height: 65px;
$actionbar-height: 50px;
$grey: #e5e7eb;
$grey-100: #828282;
$grey-200: #828282a3;
$grey-600: #636363;
$lightPrimary: #ff780c45;
$border-color: #cacaca;
$disabled:#00000042;
$cardHeight:220px;

$darkblack: #1A1A1A;
$black: #1F1F1F;
$black-200: #242424;
$black-300: #373737;
$black-400: #202020;
$gray-700: #C7C7C7;
